<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>
       #map {
        width: 100%;
        height: 400px;
      }
    </style>
 <title>Campus Decidee</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'format.css' %}">
    <style>
        li{text-indent: 10px;}
    </style>
    <script>
        if(!(sessionStorage.getItem('Uname'))){
            alert('Please Login....');
            window.open('../login/','_self');
        }
    </script>
</head>
<body background="{% static 'pics/magic-book.jpg' %}">
        <div class="d1">
                <a href="../home/"><img src="{% static 'pics/campusdecidee.jpeg' %}"  height='90px' width="1349px"/></a>
        </div>
        <!--<div class=d2>
                <h5 style="font-family: 'Comic Sans MS';text-align: right">
                    <a href="../login/" class=a1>LOGIN</a>
                    <a href="../Register/" class=a1>REGISTER </a>
                </h5>
        </div>-->
        <div class=d2 id="d2b">
                <h5 style="font-family: 'Comic Sans MS';text-align: right;">
                    <font style="font-size: 1.5em;">Hello, <span ID="sp1"> </span></font>
                    <a href="../logout/" class=a1>LogOut </a>
                </h5>
        </div>
        <div class=d3>
            <h3 style="font-family: 'Comic Sans MS';">
                    <a href="../home/" class="a2"> HOME</a>
                <a href="../blog/" class="a2"> BLOG</a>
                <a href="../top/" class="a2"> TOP 10</a>
                <a href="../aboutus/" class="a2"> ABOUT US</a>
                <a href="../contactus/" class="a2"> CONTACT US</a>
            </h3>
        </div>
        <br>
    <div class="d">
        <div style="position: absolute; top:30px; left: 50px; right: 50px; height: 220px">
            <!--<img src="ImageLogodtu.jpg" alt="logo " width="844" height="100">-->
            <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                <img src="{% static 'pics/msit/msit1.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit2.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit3.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit4.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit5.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit6.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit7.jpg' %}" width="175" height="175"/>
                <img src="{% static 'pics/msit/msit8.jpg' %}" width="175" height="175"/>
            </marquee>
        </div>
        <div class="d5" style=" top: 230px">
         <h1 class="main1">MAHARAJA SURAJMAL INSTITUE OF TECHNOLOGY <font style="color: #20231A"></font></h1>
                    <font class="f1"><p><q>Developing new paradigm in imparting education in the fields of Engineering and Technology and to imbibe national values leading to student's empowerment, with a view to prepare them to meet the national and global challenges.</q><p>This AICTE approved Institute under GGSIP University is ideally located in the Institutional area of  Janakpuri, New Delhi.
                    It has a campus spread over eight acres of land with beautiful eco-friendly surroundings. Recently it has been shifted to a more spacious seven storeyed building with built up area of 9660 sq.m The institute has over a short span of time acquired and developed impressive infrastructure, expertise and resources for imparting high quality engineering education.The infrastructure consists of well lit lecture halls, fully furnished labs, seminar halls, staff rooms, a large size play ground etc.
        For the fresh students there are well equipped labs for ‘Applied Sciences’, ‘Applied Mechanics’ and ‘Electrical Engg.
        </p>
            For more information...<a href="www.msit.ac.in">Read More<span style="cursor:pointer;cursor:hand"></span></a></font>
        </div>
        <br>
        <div class="d6" style="top: 230px; height: 350px;">
            <h1 class="main1"><font class="f1">Location</font></h1>
            <div id="map" style="height: 130px;"></div>
    <script>
        function PickValue(){
            var v="India ,Australia";
        }
      function initMap() {
 var myLatLng ={lat: 28.621614, lng: 77.089666};
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: myLatLng,
            zoom: 14
        });
	var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map,
	    title: 'MAHARAJA SURAJMAL INSTITUE OF TECHNOLOGY'
		  });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_F_pxFhsGwZTitFcaFcUVAFGdNBD1sNg&callback=initMap">
    </script>
            </div>
            <div style="position: absolute;top: 450px; right: 50px; left: 625px;">
            <h1 class="main1">HOTSPOTS</h1>
                <img src="{% static 'pics/msit/msit8.jpg' %}" width="350px" height="150px" style="border: white 4px solid;">
                <ul><li> District Park just outside MSIT.</li>
<li>McD and other restaurants at Janakpuri DC.</li>
<li>DOminos and CCD are not far away too.</li>
<li>Small restaurants outside the college.</li>
<li>Satyam Cinemas at DC.</li></ul>
        </div>
        <div style="position:absolute;top:800px;right:50px;left:50px;">
             <h1 class="main1"><font class="f1">Paying Guests (PG)</font></h1>
       <table align="center" border="1" >
           <font style="font-family: 'Comic Sans MS'">
           <tr><td style="font-family: 'Comic Sans MS';">Owner Name</td><td style="font-family: 'Comic Sans MS';">Address</td><td style="font-family: 'Comic Sans MS';">Description</td><td style="font-family: 'Comic Sans MS';">Phone Number</td></tr>
               {% for f in pgd %}
                   <tr>
                      {% for ff in f %}
                        <td>{{ ff }}</td>
                      {% endfor %}
                   </tr>
               {% endfor %}
            </font>
            </table>
    </div>
         <div style="position:absolute;top:1000px;right:50px;left:50px;">
             <h1 class="main1"><font class="f1"> Reviews...</font></h1>
       <table border="1px"  align="center">
           <font style="font-family: 'Comic Sans MS'">
           <tr><td style="font-family: 'Comic Sans MS';">Name</td><td style="font-family: 'Comic Sans MS';">Review</td><td style="font-family: 'Comic Sans MS';">Rating</td></tr>
               <tr><td>
                   Rohan sinha</td><td>this is like good for good and bad for bad</td><td>4/5</td></tr>
               <tr><td>Ankit</td><td>I am extremely  obliged to study in this college</td><td>3/5</td></tr>
               <tr><td>Anoop Sharma </td><td> its located outskirts of delhi,although its fun</td><td>4.5/5</td></tr>
            </font>
            </table>
    </div>

    </div>
         <div class="d8">
            <div class="d8a">
                <font class="f1"><h3>Images</h3>    </font>
                <img src="{% static 'pics/1.jpg' %}" width="120" height="80">&nbsp;&nbsp;<img src="{% static 'pics/3.jpg' %}" width="120" height="64">
                <br>
                <img src="{% static 'pics/4.jpg' %}" width="120" height="80">&nbsp;&nbsp;<img src="{% static 'pics/6.jpg' %}" width="120" height="64">
            </div>
            <div class="d8b">

                <font class="f1"><h3 style="color: #FFFFFF;">Comments</h3></font>
                <font class="f1" style="color: white ;font-size: 0.8em; font-weight:bold;">
                <table align="center" border="0">
                    <tr>
                        <td>
                            Abhishek Vijhani
                        </td>
                        <td>
                            Very Useful Website. It Helps me choose the college of my dreams.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ankit Verma
                        </td>
                        <td>
                            Very Helpful Website.I wouls suggest it to my Friends.
                        </td>
                    </tr>

                </table>
                    </font>
</div>



            <div class="d8c">
                <font class="f1"><h3>Ratings</h3></font>
                <font class="f1" style="color: black ;font-size: 0.9em; font-weight:bold;" >
                <table align="left">
                    <tr>
                        <td>
                            Times of India
                        </td>
                        <td>
                            4/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hindustan Times
                        </td>
                        <td>
                            3.5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ABP News
                        </td>
                        <td>
                            5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NDTV India
                        </td>
                        <td>
                            4.5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CNBC
                        </td>
                        <td>
                            5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BBC News
                        </td>
                        <td>
                            3.5/5
                        </td>
                    </tr>
                </table>
                    </font>
            </div>
        </div>
        <div class="d9" style="text-align: center">
                <font class="f1">&copy;Copyright CampusDecidee</font>
        </div>
    <script>
        if(!(sessionStorage.getItem('Uname'))){
            alert('Please Login....');
            window.open('../login/','_self');
        }
        else {
            var a = sessionStorage.getItem('Uname')
            document.getElementById('sp1').innerHTML= a;

        }
    </script>
</body>
</html>