<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'format.css' %}">
    <script src="{% static 'scripts/jquery-1.7.1.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui-1.10.3.custom.js' %}"></script>

</head>
<body background="{% static 'pics\magic-book.jpg' %}">
        <div class="d1">
                <a href="../home/"><img src="{% static 'pics/campusdecidee.jpeg' %}"  height='90px' width="1349px"/></a>
        </div>
        <div class=d2>
                <h5 style="font-family: 'Comic Sans MS';text-align: right">
                    <a href="../login/" class=a1>LOGIN</a>
                    <a href="../Register/" class=a1>REGISTER </a>
                </h5>
        </div>
        <div class=d3>
            <h3 style="font-family: 'Comic Sans MS';">
                    <a href="../home/" class="a2"> HOME</a>
                <a href="../blog/" class="a2"> BLOG</a>
                <a href="../top/" class="a2"> TOP 10</a>
                <a href="../aboutus/" class="a2"> ABOUT US</a>
                <a href="../contactus/" class="a2"> CONTACT US</a>
            </h3>
        </div>
        <div class="d" style="height:400px">
            <div style="position: absolute;  left: 100px;  top: 80px;  right: 100px;">
                <h1 class="main1">Payment<font style="color: #20231A"> Gateway</font></h1>
              <br>
            <font class="f1" style="color: #212121">
                <form method="post" action="../payment2/">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Address:</td><td>
                            {{ abc }}
                            <input name="add" type="hidden" value="{{ abc }}">
                            <input name="onm" type="hidden" value="{{ name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Select Payment Method:</td><td><select name="payment">
                            <option value="Debit Card" selected="selected">Debit Card</option>
                            <option value="Credit Card">Credit Card</option>
                            <input name="add" type="hidden" value="{{ abc }}">
                            <input name="onm" type="hidden" value="{{ name }}">
                            </select>
                            </td>
                        </tr>
                    </table>
                    <br /><center><button type="submit" name="pay" class="bttn2">Proceed</button>
                    &nbsp;&nbsp;&nbsp;<button type="reset" class="bttn2">Reset</button></center>
                </form>
                </font>
            </div>
        </div>

        <div class="d8" style="top:660px">
            <div class="d8a">
                <font class="f1"><h3>Images</h3></font>
                <img src="{% static 'pics/1.jpg' %}" width="120" height="80">&nbsp;&nbsp;<img src="{% static 'pics/3.jpg' %}" width="120" height="64">
                <br>
                <img src="{% static 'pics/4.jpg' %}" width="120" height="80">&nbsp;&nbsp;<img src="{% static 'pics/6.jpg' %}" width="120" height="64">
            </div>
            <div class="d8b">
                <font class="f1"><h3 style="color: #FFFFFF;">Comments</h3></font>
                          <font class="f1" style="color: white ;font-size: 0.8em; font-weight:bold;">
                <table align="center">
                    <tr>
                        <td>
                            Abhishek Vijhani
                        </td>
                        <td>
                            Very Useful Website. It Helps me choose the college of my dreams.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ankit Verma
                        </td>
                        <td>
                            Very Helpful Website.I wouls suggest it to my Friends.
                        </td>
                    </tr>

                </table>
                </font>
            </div>
            <div class="d8c">
                <font class="f1"><h3>Ratings</h3></font>
                <font class="f1" style="color: black ;font-size: 0.9em; font-weight:bold;" >
                <table align="left">
                    <tr>
                        <td>
                            Times of India
                        </td>
                        <td>
                            4/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hindustan Times
                        </td>
                        <td>
                            3.5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ABP News
                        </td>
                        <td>
                            5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NDTV India
                        </td>
                        <td>
                            4.5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CNBC
                        </td>
                        <td>
                            5/5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BBC News
                        </td>
                        <td>
                            3.5/5
                        </td>
                    </tr>
                </table>
                    </font>
            </div>
        </div>
        <div class="d9" style="top:900px; text-align: center">
                <font class="f1" >&copy; Copyright CampusDecidee</font>
        </div>
</body>
</html>